<div id="data-driven-formset">
  <app-data-driven-grid
    #mainGrid
    *ngIf="maintype==PageType.Grid || maintype==PageType.TabGrid"
    [class.visible-hidden]="pagetype!=PageType.Grid && pagetype!=PageType.TabGrid"
    [title]="title"
    [pagetype]="pagetype"
    [id]="id"
    [items]="items"
    [endpoint]="endpoint"
    [row_draggable]="draggable"
    [rowrefresh]="rowrefresh"
    [buttons]="buttons"
    [onclick]="onclick"
    [filterStr]="filterStr"
    [hidefilter]="hidefilter"
    [height]="fieldheight"
    [position]="position"
    [groupable]="groupable"
    [hidefilterrow]="hidefilterrow"
    [isSearchModal]="isSearchModal"
    [isDashboardElement]="isDashboardElement"
    [isModal]="isModal"
    (onChangeView)="changeView($event)"
    (onSelect)="selectItem($event)"
    (onChangeSelectedItem)="onItemChange($event)"
    (onExit)="exit()">
  </app-data-driven-grid>

  <app-data-driven-treegrid
    #mainTreeGrid
    *ngIf="maintype==PageType.TreeGrid"
    [class.visible-hidden]="pagetype!=PageType.TreeGrid"
    [title]="title"
    [pagetype]="pagetype"
    [id]="id"
    [items]="items"
    [endpoint]="endpoint"
    [rowrefresh]="rowrefresh"
    [buttons]="buttons"
    [onclick]="onclick"
    [filterStr]="filterStr"
    [hidefilter]="hidefilter"
    [height]="fieldheight"
    [position]="position"
    [isDashboardElement]="isDashboardElement"
    (onChangeView)="changeView($event)"
    (onSelect)="selectItem($event)"
    (onChangeSelectedItem)="onItemChange($event)"
    (onExit)="exit()">
  </app-data-driven-treegrid>

  <app-data-driven-form
    #subForm
    *ngIf="pagetype==PageType.Form"
    [form_class]="form_class"
    [parent_id]="id"
    [id]="itemid"
    [endpoint]="onclick.endpoint"
    [buttons]="onclick.buttons"
    [onclick]="onclick.onclick"
    [rowrefresh]="rowrefresh"
    [default_disabled_buttons]="disabled_buttons"
    [isModal]="isModal"
    (onClickButtonBar)="clickButtonBar($event)"
    (onChangeView)="changeView($event)"
    (onSelect)="selectItem($event)"
    (onCreated)="afterCreate($event)"
    (onUpdated)="afterUpdate($event)"
    (onDeleted)="afterDelete($event)">
  </app-data-driven-form>

  <app-data-driven-tabform
    #subTab
    *ngIf="pagetype==PageType.TabForm"
    [parent_id]="id"
    [id]="itemid"
    [form_class]="form_class"
    [title_field]="title_field"
    [tab_pages]="tab_pages"
    [endpoint]="onclick.endpoint"
    [buttons]="onclick.buttons"
    [onclick]="onclick.onclick"
    [rowrefresh]="rowrefresh"
    [isDashboardElement]="isDashboardElement"
    [default_disabled_buttons]="disabled_buttons"
    [activeTabId]="activeTabId"
    (onClickButtonBar)="clickButtonBar($event)"
    (onChangeView)="changeView($event)"
    (onCreated)="afterCreate($event)"
    (onUpdated)="afterUpdate($event)"
    (onDeleted)="afterDelete($event)"
    (onTabChanged)="tabChange($event)">
  </app-data-driven-tabform>

  <app-data-driven-chart
    #subChart
    *ngIf="pagetype==PageType.Chart"
    [form_class]="form_class"
    [id]="itemid"
    [endpoint]="isDashboardElement? onclick : chart_onclick.endpoint"
    [buttons]="isDashboardElement? buttons : chart_onclick.buttons"
    [default_disabled_buttons]="disabled_buttons"
    [form_data]="form_data"
    [isDashboardElement]="isDashboardElement"
    [title]="title"
    (onClickButtonBar)="clickButtonBar($event)">
  </app-data-driven-chart>

  <app-data-driven-kanban
    *ngIf="pagetype==PageType.Kanban"
    [form_class]="form_class"
    [endpoint]="endpoint"
    [title]="title"
    [itemid]="itemid"
    [buttons]="buttons"
    [default_disabled_buttons]="disabled_buttons"
    [onclick]="onclick"
    [isDashboardElement]="isDashboardElement"
    (onClickButtonBar)="clickButtonBar($event)"
    (onExit)="exit()">
  </app-data-driven-kanban>

  <app-data-driven-scheduler
    *ngIf="pagetype==PageType.Scheduler"
    [form_class]="form_class"
    [endpoint]="endpoint"
    [buttons]="buttons"
    [onclick]="onclick"
    [typeview]="typeview"
    (onClickButtonBar)="clickButtonBar($event)"
    (onExit)="exit()">
  </app-data-driven-scheduler>    

  <app-data-driven-timeline
    *ngIf="pagetype==PageType.Timeline"
    [form_class]="form_class"
    [endpoint]="endpoint"
    [buttons]="buttons"
    [default_disabled_buttons]="disabled_buttons"
    [onclick]="onclick"
    [typeview]="typeview"
    (onClickButtonBar)="clickButtonBar($event)"
    (onExit)="exit()">
  </app-data-driven-timeline>

  <app-data-driven-pdfview
    *ngIf="pagetype==PageType.PDFView"
    [id]="itemid"
    [endpoint]="endpoint"
    [form_class]="form_class"
    [buttons]="buttons"
    [default_disabled_buttons]="disabled_buttons"
    (onExit)="exit()">
  </app-data-driven-pdfview>

  <app-data-driven-grid
    #subGrid
    *ngIf="pagetype==PageType.SubGrid"
    [id]="itemid"
    [endpoint]="onclick.endpoint"
    [row_draggable]="onclick.draggable"
    [rowrefresh]="onclick.rowrefresh"
    [buttons]="onclick.buttons"
    [hidefilter]="onclick.hidefilter"
    [height]="onclick.fieldheight"
    [position]="onclick.position"
    [groupable]="onclick.groupable"
    [hidefilterrow]="onclick.hidefilterrow"
    (onClickButtonBar)="clickButtonBar($event)">
  </app-data-driven-grid>
</div>
