:host {
    // position: relative;
    #num-keypad{

        width: 306px;
        
        &.collapse {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }


        
        button {
            width: 55px;
            height: 45px;
           // border: none;
            border-radius: 3px;
            font-size: 24px;
            cursor: pointer;
        }
        
        .button-row {
            margin-top: 12px;
        }
    }
        
        
 
}