@font-face {
  font-family: 'abo01';
  src:  url('/fonts/abo01.eot?idhe9t');
  src:  url('/fonts/abo01.eot?idhe9t#iefix') format('embedded-opentype'),
    url('/fonts/abo01.ttf?idhe9t') format('truetype'),
    url('fonts/abo01.woff?idhe9t') format('woff'),
    url('fonts/abo01.svg?idhe9t#abo01') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="abo-"], [class*=" abo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'abo01' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abo-phone:before {
  content: "\41";
}
.abo-printer:before {
  content: "\25";
}
.abo-linea-basic-10-17:before {
  content: "\22";
}
.abo-linea-basic-10-15:before {
  content: "\23";
}
.abo-linea-basic-elaboration-10-3:before {
  content: "\24";
}
.abo-linea-basic-10-6:before {
  content: "\31";
}
.abo-linea-ecommerce-10-1:before {
  content: "\32";
}
.abo-linea-ecommerce-10-2:before {
  content: "\33";
}
.abo-linea-ecommerce-10-3:before {
  content: "\34";
}
.abo-linea-software-10:before {
  content: "\35";
}
.abo-linea-basic-10-8:before {
  content: "\36";
}
.abo-linea-basic-10-9:before {
  content: "\37";
}
.abo-linea-basic-elaboration-10:before {
  content: "\39";
}
.abo-linea-basic-10-7:before {
  content: "\44";
}
.abo-computer-imac-2:before {
  content: "\45";
}
.abo-euro:before {
  content: "\47";
}
.abo-linea-basic-10-13:before {
  content: "\4a";
}
.abo-belgium:before {
  content: "\4b";
}
.abo-spreadsheet6:before {
  content: "\4c";
}
.abo-scanning2:before {
  content: "\4f";
}
.abo-filter-modified:before {
  content: "\50";
}
.abo-fax3:before {
  content: "\53";
}
.abo-repair5:before {
  content: "\52";
}
.abo-mod-register:before {
  content: "\55";
}
.abo-linea-ecommerce-10:before {
  content: "\56";
}
.abo-mod-barcode:before {
  content: "\57";
}
.abo-linea-basic-10-10:before {
  content: "\59";
}
.abo-uniE007:before {
  content: "\61";
}
.abo-uniE00E:before {
  content: "\62";
}
.abo-uniE00F:before {
  content: "\63";
}
.abo-uniE00B:before {
  content: "\64";
}
.abo-linea-arrows-10-4:before {
  content: "\65";
}
.abo-uniE01C:before {
  content: "\66";
}
.abo-linea-basic-10:before {
  content: "\67";
}
.abo-linea-basic-10-3:before {
  content: "\68";
}
.abo-linea-basic-10-2:before {
  content: "\6a";
}
.abo-linea-arrows-10:before {
  content: "\6b";
}
.abo-eid-invert-2:before {
  content: "\6c";
}
.abo-man-people-streamline-user:before {
  content: "\2f";
}
.abo-mod-supplier:before {
  content: "\6e";
}
.abo-scan:before {
  content: "\6f";
}
.abo-linea-arrows-10-5:before {
  content: "\70";
}
.abo-45:before {
  content: "\71";
}
.abo-home152:before {
  content: "\73";
}
.abo-nbb:before {
  content: "\74";
}
.abo-open79:before {
  content: "\79";
}
.abo-linea-search_mini:before {
  content: "\7b";
}
.abo-document-add:before {
  content: "\78";
}
.abo-document-file-pdf:before {
  content: "\5a";
}
.abo-document-file-doc:before {
  content: "\4d";
}
.abo-document-file-xls:before {
  content: "\4e";
}
.abo-document:before {
  content: "\72";
}
.abo-documents:before {
  content: "\21";
}
.abo-search:before {
  content: "\43";
}
.abo-calendar:before {
  content: "\5b";
}
.abo-camera:before {
  content: "\48";
}
.abo-notebook-text:before {
  content: "\3d";
}
.abo-mail-envelope-closed:before {
  content: "\58";
}
.abo-folder-search:before {
  content: "\2c";
}
.abo-document-edit:before {
  content: "\42";
}
.abo-pencil:before {
  content: "\69";
}
.abo-balance-scale:before {
  content: "\29";
}
.abo-read-more:before {
  content: "\7d";
}
.abo-list-nested:before {
  content: "\49";
}
.abo-list:before {
  content: "\38";
}
.abo-uni7C:before {
  content: "\2b";
}
.abo-uni7E:before {
  content: "\2d";
}
.abo-uni5C:before {
  content: "\5c";
}
.abo-linea-basic-10-1:before {
  content: "\51";
}
