// :host {
    #packing-users{

        .user-btn {
            height: 60px;
            min-width: 200px;
            font-size: 18px;
        }
    }
// }

.alert-modal {
    font-size: 20px;
    .modal-title {
        font-size: 20px;
    }

    .modal-body {
        font-size: 18px;
    }
}