.form__dashboard--wrapper {
  padding-top: 30px;

  .form__dashboard-component__wrapper {
    border: 0 solid transparent;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.4);
    padding: 15px;
    margin-bottom:20px;
  }
}
.padding-10 {
  padding: 10px;
}

.bk-Snow {
  background: #FFFAFA;
}
.bk-Blue {
  background: #0000FF;
}
.bk-Green {
  background: #00FF00;
}
.bk-Red {
  background: #FF0000;
}
.bk-White {
  background: #FFFFFF;
}
.bk-Yellow {
  background: #FFFF00;
}
.bk-Beige {
  background: #F5F5DC;
}
.bk-LightGrey {
  background: #D3D3D3;
}
.bk-LightBlue {
  background: #ADD8E6;
}
.bk-PowderBlue {
  background: #B0E0E6;
}
.bk-MintCream {
  background: #F5FFFA;
}
.bk-OldLace {
  background: #FDF5E6;
}
.bk-WhiteSmoke {
  background: #F5F5F5;
}
