<div
  id="data-driven-grid"
  class="pb-1"
  [class.height-zero]="pagetype!=PageType.Grid && pagetype!=PageType.TabGrid"
  (window:keydown)="onKey($event)">
  <h5 *ngIf="isDashboardElement">
    {{ title }}
  </h5>
  <div class="row my-2">
    <div [ngClass]="{'col-md-6'  :!hidefilter && buttons && buttons.length > 0, 'col-md-12' : !buttons || buttons.length == 0}">
      <div class="input-group"  *ngIf="!hidefilter">
        <input 
          #searchInput
          (keyup)="onFilter($event)"
          (focus)="focusFilter($event)"
          [(ngModel)]="filterStr"
          ngbTooltip="{{'FILTERTOOLTIP' | translate}}"
          container="body"
          class="form-control quick-search mb-1"
          placeholder="{{'FILTERTEXT' | translate}}" />
        <span class="input-group-append">
          <button type="button" class="btn icon-btn btn-primary mb-1" (click)="search()">
            <span class="abo-linea-basic-10-2"></span>
          </button> 
        </span>
      </div>
    </div>

    <div class="text-right col-md-6" [class.col-md-12]="hidefilter">
      <app-data-driven-buttons
        [buttons]="buttons"
        [is_icon]="true"
        [disabled_buttons]="disabled_buttons"
        [isRefreshButtonEnabled]="isDashboardElement? true : false"
        (onClick)="clickButtonBar($event)">
      </app-data-driven-buttons>
    </div>
  </div>

  <nb-card nbSpinnerStatus="success">
    <jqxGrid
      #jqxGrid
      *ngIf="columns && gridAdapter"
      [theme]="'energyblue'"
      [source]="gridAdapter"
      [columns]="columns"
      [width]="getGridWidth()"
      [height]="getGridRowHeight()"
      [columnsresize]="true"
      [sortable]="true"
      [showsortmenuitems]="false"
      [filterable]="true"
      [showfilterrow]="!hidefilterrow"
      [autoshowfiltericon]="true"
      [showfiltermenuitems]="false"
      [ready]="gridReady"
      [rendered]="gridRendered"
      [groupable]="groupable"
      [showaggregates]="true"
      [showgroupaggregates]="true"
      [showstatusbar]="true"
      [statusbarheight]="30"
      [showgroupmenuitems]="false"
      [altrows]="true"
      [scrollmode]="'logical'"
      [scrollfeedback]="gridScrollfeedback"
      [editable]="true"
      [selectionmode]="gridSelectionMode"
      (onCelldoubleclick)="onCellDoubleClick($event)"
      (onRowdoubleclick)="onRowDoubleClick($event)"
      (onCellbeginedit)="onCellBeginEditEvent($event)" 
      (onCellendedit)="onCellEndEditEvent($event)">
    </jqxGrid>
  </nb-card>
</div>
